<!-- Validation failure messages -->
<% if @favorite.errors.any? %>
  <% @favorite.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Favorite</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_favorite" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for users_id -->
      <input type="hidden" name="users_id" value="<%= current_user.id %>">

      <!-- Label and input for products_id -->
      <div class="form-group">
        <label for="products_id" class="control-label">
          Products
        </label>

        <%= select_tag(:products_id, options_from_collection_for_select(Product.all, :id, :category, @favorite.products_id), :class => "form-control") %>
      </div>

      <!-- Label and input for brands_id -->
      <div class="form-group">
        <label for="brands_id" class="control-label">
          Brands
        </label>

        <%= select_tag(:brands_id, options_from_collection_for_select(Brand.all, :id, :name, @favorite.brands_id), :class => "form-control") %>
      </div>

      <!-- Label and input for concerns_id -->
      <div class="form-group">
        <label for="concerns_id" class="control-label">
          Concerns
        </label>

        <%= select_tag(:concerns_id, options_from_collection_for_select(Concern.all, :id, :created_at, @favorite.concerns_id), :class => "form-control") %>
      </div>

      <button class="btn btn-success">
        Create Favorite
      </button>
      or
      <a href="/favorites">Cancel</a>
    </form>
  </div>
</div>
