<!-- Validation failure messages -->
<% if @product.errors.any? %>
  <% @product.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Product</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_product" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <input type="text" id="description" name="description" placeholder="Description" class="form-control" value="<%= @product.description %>">
      </div>

      <!-- Label and input for ingredients -->
      <div class="form-group">
        <label for="ingredients" class="control-label">
          Ingredients
        </label>

        <input type="text" id="ingredients" name="ingredients" placeholder="Ingredients" class="form-control" value="<%= @product.ingredients %>">
      </div>

      <!-- Label and input for use -->
      <div class="form-group">
        <label for="use" class="control-label">
          Use
        </label>

        <input type="text" id="use" name="use" placeholder="Use" class="form-control" value="<%= @product.use %>">
      </div>

      <!-- Label and input for product_name -->
      <div class="form-group">
        <label for="product_name" class="control-label">
          Product name
        </label>

        <input type="text" id="product_name" name="product_name" placeholder="Product name" class="form-control" value="<%= @product.product_name %>">
      </div>

      <!-- Label and input for favorite -->
      <div class="checkbox">
        <label for="favorite">
          <input type="checkbox" id="favorite" name="favorite" value="1" <%= "checked" if @product.favorite %>>
          Favorite
        </label>
      </div>

      <button class="btn btn-success">
        Create Product
      </button>
      or
      <a href="/products">Cancel</a>
    </form>
  </div>
</div>
