<div class="page-header">
  <h3>Product #<%= @product.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Description</dt>
      <dd><%= @product.description %></dd>

      <dt>Ingredients</dt>
      <dd><%= @product.ingredients %></dd>

      <dt>Use</dt>
      <dd><%= @product.use %></dd>

      <dt>Product name</dt>
      <dd><%= @product.product_name %></dd>

      <dt>Favorite</dt>
      <dd><%= @product.favorite %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/products" class="btn btn-primary">
        Back
      </a>
      <a href="/products/<%= @product.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_product/<%= @product.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Product has many favorites -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Favorites
      </li>

      <% @product.favorites.each do |favorite| %>
        <li class="list-group-item">
          <a href="/favorites/<%= favorite.id %>">
            <%= favorite.users_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/favorites/<%= favorite.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/favorites/<%= favorite.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_favorite/<%= favorite.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_favorite" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for users_id -->
      <input type="hidden" name="users_id" value="<%= current_user.id %>">

      <!-- Label and input for products_id -->
      <div class="form-group">
        <label for="products_id" class="control-label">
          Products
        </label>

        <%= select_tag(:products_id, options_from_collection_for_select(Product.all, :id, :created_at), :class => "form-control") %>
      </div>

      <!-- Label and input for brands_id -->
      <div class="form-group">
        <label for="brands_id" class="control-label">
          Brands
        </label>

        <%= select_tag(:brands_id, options_from_collection_for_select(Brand.all, :id, :brandname), :class => "form-control") %>
      </div>

      <!-- Label and input for needs_id -->
      <div class="form-group">
        <label for="needs_id" class="control-label">
          Needs
        </label>

        <%= select_tag(:needs_id, options_from_collection_for_select(Need.all, :id, :need_type), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Favorite
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Product has many brands -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Brands
      </li>

      <% @product.brands.each do |brand| %>
        <li class="list-group-item">
          <a href="/brands/<%= brand.id %>">
            <%= brand.brandname %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/brands/<%= brand.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/brands/<%= brand.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_brand/<%= brand.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Product has many needs -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Needs
      </li>

      <% @product.needs.each do |need| %>
        <li class="list-group-item">
          <a href="/needs/<%= need.id %>">
            <%= need.need_type %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/needs/<%= need.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/needs/<%= need.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_need/<%= need.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
