<div class="page-header">
  <h3>Product #<%= @product.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Category</dt>
      <dd><%= @product.category %></dd>

      <dt>Description</dt>
      <dd><%= @product.description %></dd>

      <dt>Active ingredients</dt>
      <dd><%= @product.active_ingredients %></dd>

      <dt>Use</dt>
      <dd><%= @product.use %></dd>

      <dt>Brand</dt>
      <dd><%= @product.brand_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/products" class="btn btn-primary">
        Back
      </a>
      <a href="/products/<%= @product.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_product/<%= @product.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
